	body{
		margin-left: 0px !important;
	    margin-right: 0px !important;
	    margin-top: 0px !important;
	    margin-bottom: 0px !important;
	    overflow: hidden;
	}
	a:hover{
		text-decoration:underline;  /*濮捬呭У閻栵綁骞冮浣界檨濞戞挸顑呴崹婵堢棯閿燂拷*/
		cursor:pointer;/*濮捬呭У閻栵綁骞冮浣界檨闁归潧顑呴悗锟�*/
	}
	.el-header,.el-footer{
	  	text-align: center;
	  	line-height: 40px;
	  	height:40px !important;
	  	padding-right: 0px;
	  	padding-left:0px;
	  	background-color:#A5BDD4;
	}
  
  .el-aside {
  	background-color:#545C64;
  	color:white;
    text-align: center;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    overflow: hidden;
  }
  
  #mainFrame{
  	border-top-width: 0px;
  	border-left-width: 0px;
  	border-bottom-width: 0px;
  	border-right-width: 0px;
  	margin-left: 10px;
  	margin-top: 10px;
  	margin-right: 10px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .el-menu{
  	background-color:#545c64;
	text-color:#fff;
	active-text-color:#ffd04b;
	border-right-width: 0px;
  }
  
  .el-dialog__body{
  	 padding-top: 0px;
  }
  .el-button{
  	border-radius:20px;
  }
  .text {
    font-size: 14px;
  }

  .item {
    padding: 18px 0;
  }
  
  .el-breadcrumb{
  	margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: #D2D4D7;
    line-height: 30px;
  	height:30px !important;
  	font-size:14px;
  	font-family: '妤蜂綋' !important;
  }
  
  .right{
  	float:right;
  }
  
  .left{
  	float:left;
  }
  
	.el-tree{
		margin-top: 10px !important;
	}
	.el-table > .el-form-item{
		margin-bottom: 5px !important;
	}
	.demo-table-expand {
    	font-size: 0;
 	}
  	.demo-table-expand label {
    	width: 90px;
    	color: #99a9bf;
  	}
  	.demo-table-expand .el-form-item {
	    margin-right: 0;
	    margin-bottom: 0;
	    width: 50%;
  	} 
  	
  	/* 闃叉table琛ㄥご閿欎綅 */
  	body .el-table th.gutter{
    	display: table-cell!important;
  	}
  