body{
	margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
a:hover{
	text-decoration:underline;  /*鼠标放上去有下划线*/
	cursor:pointer;/*鼠标放上去有手掌*/
}
.el-header{
  	background-color: #1D8CE1;
  	color: #333;
  	text-align: center;
  	line-height: 40px;
  	height:40px !important;
}

.el-footer {
  	background-color: #1D8CE1;
  	color: #333;
  	text-align: center;
  	line-height: 30px;
  	height:30px !important;
}
  
  .el-aside {
    background-color: #545c64;
    color: #333;
    text-align: center;
    line-height: 200px;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .el-menu{
  	background-color:#545c64;
	text-color:#fff;
	active-text-color:#ffd04b;
	border-right-width: 0px;
  }
  