body{
	margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    overflow: hidden;
}
a:hover{
	text-decoration:underline;  /*鼠标悬浮下划线*/
	cursor:pointer;/*鼠标悬浮手型*/
}
.el-header{
  	background-color: #1D8CE1;
  	color: #333;
  	text-align: center;
  	line-height: 40px;
  	height:40px !important;
}

.el-footer {
  	background-color: #1D8CE1;
  	color: #333;
  	text-align: center;
  	line-height: 30px;
  	height:30px !important;
}
  
  .el-aside {
    background-color: #545c64;
    color: #333;
    text-align: center;
    /* line-height: 200px; */
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    overflow: hidden;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .el-menu{
  	background-color:#545c64;
	text-color:#fff;
	active-text-color:#ffd04b;
	border-right-width: 0px;
  }
  .el-dialog__body{
  	 padding-top: 0px;
  }
  .el-button{
  	border-radius:20px;
  }
  .text {
    font-size: 14px;
  }

  .item {
    padding: 18px 0;
  }
  
  .el-breadcrumb{
  	margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: #D2D4D7;
    line-height: 30px;
  	height:30px !important;
  	font-size:14px;
  	font-family: '楷体' !important;
  }
  
  #mainFrame{
  	margin-left: 20px !important;
  	margin-right: 20px !important;
  	border-top-width: 0px;
  	border-left-width: 0px;
  	border-bottom-width: 0px;
  	border-right-width: 0px;
  }
  