<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<head>
    <title>平头哥</title>
    <!-- 引入jquery -->
	<script th:src="@{/plugins/jquery/jquery-3.3.1.js}"></script>
	<!-- 引入vue -->
	<script th:src="@{/plugins/vue/vue-2.5.17.js}"></script>
	<!-- 引入echarts -->
	<script th:src="@{/plugins/echarts/echarts.min.js}"></script>
	<!-- echarts地图js -->
	<script th:src="@{/plugins/echarts/map/js/world.js}"></script>
	<!-- elemrnt组件引入 -->
  	<!-- 引入样式 -->
	<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
	<link rel="stylesheet" href="/plugins/element/index.css">
	<!-- 引入组件库 -->
	<script th:src="@{/plugins/element/index.js}"></script>
	<!-- 公用库 -->
	<script th:src="@{/common/common.js}"></script>
	<script th:src="@{/common/formValid.js}"></script>
</head>
</html>
