<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<head th:include="common/header :: head"></head>
<link rel="stylesheet" th:href="@{/css/user/index.css}"></link>
<div id="user" style="width:100%;height:100%;">
	<el-row :gutter="20">
	  	<el-col :span="6">
	  		<el-input clearable placeholder="输入单位名称过滤" v-model="filterText">
	  			<template slot="prepend">名称</template>
	  		</el-input>
			<el-tree class="filter-tree" :data="treeData" :props="defaultProps"
		  	accordion :filter-node-method="filterNode" ref="userTree" 
		  	@node-click="clickNode">
		  		<span class="custom-tree-node" slot-scope="{ node, data }"><span>
                <i class="el-icon-ratel-apartment"></i>{{ node.label }}
            </span>              
        </span>
			</el-tree>
	  	</el-col>
	  	<el-col :span="18" v-if="initializationState">
	  		<div id="initializationState"></div>
	  	</el-col>
	  	<el-col :span="18" v-if="!initializationState">
	  		<el-row>
	  			<el-col :span="18">
			  		<el-form :inline="true" ref="queryForm" :rules="queryRules" :model="queryForm">
					  	<el-form-item label="昵称：" prop="name">
					    	<el-input style="width:110px;" size="small" v-model="queryForm.name" clearable></el-input>
					  	</el-form-item>
					  	<el-form-item label="账号：" prop="account">
					    	<el-input style="width:130px;" size="small" v-model="queryForm.account" clearable></el-input>
					  	</el-form-item>
					  	<el-form-item label="邮箱：" prop="email">
					    	<el-input style="width:130px;" size="small" v-model="queryForm.email" clearable></el-input>
					  	</el-form-item>
					  	<el-form-item>
						    <el-button size="small" type="primary" @click="query">查询</el-button>
						    <el-button size="small" @click="resetForm">重置</el-button>
						  </el-form-item>
					</el-form>
				</el-col>
				<el-col :span="6">
					<el-button-group class="right">
					  	<el-button size="small" type="primary" icon="el-icon-plus" @click="add" title="新增"></el-button>
					  	<el-button size="small" type="primary" icon="el-icon-edit" :disabled="handelEdit" @click="edit" title="编辑"></el-button>
					  	<el-button size="small" type="primary" icon="el-icon-delete" :disabled="isDeling || handelDel" @click="del" title="删除"></el-button>
					</el-button-group>
				</el-col>
			</el-row>
	  		<el-table :data="userList" stripe border :height="tableHeight" style="width: 100%"
	  		 @selection-change="changeFun">
     			<el-table-column type="selection" width="50"></el-table-column>
     			<!-- <el-table-column label="序号" width="50" align="center">
     				<template scope="scope">
     					<span>{{scope.$index+(currentPage - 1) * pagesize + 1}} </span>
     				</template>
     			</el-table-column> -->
     			<el-table-column type="expand" width="50">
			      	<template slot-scope="props">
			        	<el-form label-position="left" inline class="demo-table-expand">
			          		<el-form-item label="昵称：">
			            		<span>{{ props.row.name }}</span>
			          		</el-form-item>
			          		<el-form-item label="账号：">
			            		<span>{{ props.row.account }}</span>
			          		</el-form-item>
			          		<el-form-item label="邮箱：">
			            		<span>{{ props.row.email }}</span>
			          		</el-form-item>
			          		<el-form-item label="生日：">
			            		<span>{{ props.row.birthDay}}</span>
			          		</el-form-item>
			          		<el-form-item label="年龄：">
			            		<span>{{ props.row.age}}</span>
			          		</el-form-item>
			          		<el-form-item label="性别：">
			            		<span v-if="props.row.gender==0">男</span>
			            		<span v-if="props.row.gender==1">女</span>
			          		</el-form-item>
			          		<el-form-item label="电话：">
			            		<span>{{ props.row.telphone}}</span>
			          		</el-form-item>
			          		<el-form-item label="地址：">
			            		<span>{{ props.row.address}}</span>
			          		</el-form-item>
			          		<el-form-item label="创建时间：">
			            		<span>{{ props.row.createTime}}</span>
			          		</el-form-item>
			          		<el-form-item label="更新时间：">
			            		<span>{{ props.row.updateTime}}</span>
			          		</el-form-item>
			        	</el-form>
			      	</template>
			    </el-table-column>
    			<el-table-column prop="name" label="昵称" min-width="15%"></el-table-column>
    			<el-table-column prop="account" label="账号" min-width="20%"></el-table-column>
    			<el-table-column prop="email" label="邮箱" min-width="35%"></el-table-column>
    			<el-table-column prop="telphone" label="电话" min-width="25%"></el-table-column>
    			<el-table-column prop="address" label="地址"></el-table-column>
    			<el-table-column label="操作" align="right" min-width="25%">
			      	<template slot-scope="scope">
			        	<el-button size="mini"  type="warning" @click="resetPwd(scope.$index, scope.row)">重置密码</el-button>
			      	</template>
			    </el-table-column>
  			</el-table>
  			<el-pagination
                   @size-change="handleSizeChange"
                   @current-change="handleCurrentChange"
                   :current-page="currentPage"
                   :page-sizes="[5, 10, 20, 40]" 
                   :page-size="pagesize" 
                   layout="total, sizes, prev, pager, next, jumper"
                   :total="totalSize" class="right">
           </el-pagination>
	  	</el-col>
	</el-row>
	
	<!-- 新增/编辑组织机构弹出框 -->
	<el-dialog :title="dialogTitle" :visible.sync="userVisible" width="30%" :before-close="userHandleClose">
		<el-form :model="userForm" :rules="userRules" ref="userForm" :label-position="labelPosition" label-width="100px">
		  	<el-form-item label="昵称：" prop="name">
		    	<el-input v-model="userForm.name"
		    	clearable prefix-icon="el-icon-ratel-nicheng"></el-input>
		  	</el-form-item>
		  	<el-form-item label="账号：" prop="account">
		    	<el-input v-model="userForm.account"
		    	 clearable :disabled="method==1" prefix-icon="el-icon-ratel-people"></el-input>
		  	</el-form-item>
		  	<el-form-item label="邮箱：" prop="email">
		    	<el-input v-model="userForm.email"
		    	 clearable prefix-icon="el-icon-message"></el-input>
		  	</el-form-item>
		  	<el-form-item label="生日：" prop="birthDay">
		    	<el-date-picker @change='changeBirthday' format="yyyy 年 MM 月 dd 日" value-format="yyyy-MM-dd" 
		    	v-model="userForm.birthDay" type="date" placeholder="选择日期">
		    	</el-date-picker>
		  	</el-form-item>
		  	<el-form-item label="年龄：" prop="age">
		    	<el-input disabled v-model="userForm.age"
		    	 clearable prefix-icon="el-icon-ratel-nianling"></el-input>
		  	</el-form-item>
		  	<el-form-item label="性别：" prop="gender">
		  		<el-radio v-model="userForm.gender" label="0" border>男</el-radio>
 				<el-radio v-model="userForm.gender" label="1" border>女</el-radio>
		  	</el-form-item>
		  	<el-form-item label="电话：" prop="telphone">
		    	<el-input v-model="userForm.telphone"
		    	 clearable prefix-icon="el-icon-mobile-phone"></el-input>
		  	</el-form-item>
		  	<el-form-item label="地址：" prop="address">
		    	<el-input type="textarea" v-model="userForm.address"
		    	 clearable prefix-icon="el-icon-location-outline"></el-input>
		  	</el-form-item>
		  	<el-form-item>
		  		<el-button size="small" @click="close('userForm')">取消</el-button>
		    	<el-button type="primary" size="small" @click="submit" :disabled="isSubmiting">确定</el-button>
		  	</el-form-item>
		</el-form>
	</el-dialog>
	
	
</div>
<script>
/*<![CDATA[*/
var vm=new Vue({
	el:'#user',
	watch: {
		//树过滤监听事件
    	filterText(val) {
        	this.$refs.userTree.filter(val);
      	}
    },
	data() {
    	//检测名称是否唯一
	    var checkName= (rule, value, callback) => {
        	$.ajax({
	          	url: '/users/check?timestamp='+new Date().getTime(),
	          	type: 'GET',
	          	data:{
	          		'name':value,
	          		'account':'',
	          		'email':'',
	          		'method':vm.method,
	          		'id':vm.multipleSelection.length>0?(vm.multipleSelection)[0].id:''
	          	},
	          	dataType : 'json', 
	          	contentType: 'application/json; charset=utf-8',
	          	success: function (res) {
	          		if(res.rspCode!="000000"){
	          			callback(new Error(res.rspMsg));
	          		}else{
	          			callback();
	          		}
	          	}
	    	});
	    };
	  	//检测账号是否唯一
	    var checkAccount= (rule, value, callback) => {
        	$.ajax({
	          	url: '/users/check?timestamp='+new Date().getTime(),
	          	type: 'GET',
	          	data:{
	          		'name':'',
	          		'account':value,
	          		'email':'',
	          		'method':vm.method,
	          		'id':vm.multipleSelection.length>0?(vm.multipleSelection)[0].id:''
	          	},
	          	dataType : 'json', 
	          	contentType: 'application/json; charset=utf-8',
	          	success: function (res) {
	          		if(res.rspCode!="000000"){
	          			callback(new Error(res.rspMsg));
	          		}else{
	          			callback();
	          		}
	          	}
	    	});
	    };
	  //检测邮箱是否唯一
	    var checkEmail= (rule, value, callback) => {
        	$.ajax({
	          	url: '/users/check?timestamp='+new Date().getTime(),
	          	type: 'GET',
	          	data:{
	          		'name':'',
	          		'account':'',
	          		'email':value,
	          		'method':vm.method,
	          		'id':vm.multipleSelection.length>0?(vm.multipleSelection)[0].id:''
	          	},
	          	dataType : 'json', 
	          	contentType: 'application/json; charset=utf-8',
	          	success: function (res) {
	          		if(res.rspCode!="000000"){
	          			callback(new Error(res.rspMsg));
	          		}else{
	          			callback();
	          		}
	          	}
	    	});
	    };
		return {
			initializationState:true,//是否为初始化状态右侧表格则不显示东西
			labelPosition: 'right',//表单对齐方式
			tableHeight:490,//table高
			filterText: '',//树过滤字段
	        treeData: [],//树结构数据
	        //树节点默认格式
	        defaultProps: {
	          children: 'children',
	          label: 'label'
	        },
	        activeNode:{},//当前单击的树节点
	        //表格数据
	        currentPage:1, //初始页
            pagesize:10,    //    每页的数据
            userList: [],//部门数据集合
            totalSize:0,//总共数据个数
            queryForm:{
            	name:'',
            	account:'',
            	email:''
            },
            queryRules:{
            	name:[
	            	{ validator: checkNoSpecialCharacters, trigger: 'blur' }
				],
				account:[
					{ validator: checkNoSpecialCharacters, trigger: 'blur' }
				],
	          	email:[
	          		{ validator: checkNoSpecialCharacters, trigger: 'blur' }
	          	],
			},
			isDeling:false,//是否正在删除
			handelDel:true,//删除按钮是否禁用，至少选中一个的时候才能删除
			handelEdit:true,//编辑按钮是否禁用，只能选中一个的时候才能编辑
			multipleSelection:[],//复选框被选中的对象
			//弹出框相关数据
			method:0,//0：增加  1：编辑
			isSubmiting:false,//是否正在提交
			userVisible:false,//是否可见
			dialogTitle:'新增用户',//弹出框title
			userForm:{
				name:'',
				account:'',
				email:'',
				birthDay:'',
				age:'',
				telphone:'',
				address:'',
				gender:''
			},
			userRules:{
				name:[
					{ required: true, message: '请输入昵称', trigger: 'change' },
	            	{ validator: checkEmpty, trigger: 'blur' },
	            	{ validator: checkNoSpecialCharacters, trigger: 'blur' },
	            	{ validator: checkName, trigger: 'blur' }
				],
				account:[
					{ required: true, message: '请输入账号', trigger: 'blur' },
					{ validator: checkEmpty, trigger: 'blur' },
					{ validator: checkNoSpecialCharacters, trigger: 'blur' },
					{ validator: checkAccount, trigger: 'blur' }
				],
	          	email:[
	          		{ required: true, message: '请输入邮箱', trigger: 'blur' },
	            	{ type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] },
	            	{ validator: checkEmail, trigger: 'blur' }
	          	],
	          	telphone:[
	          		{ validator: checkPhone, trigger: 'blur' }
	          	]
			}
		}
	},
	methods:{
		init:function(){
			document.getElementById("initializationState").style.height= getWinHeight() +"px";
			vm.queryTreeData();
		},
		//查询组织机构树
		queryTreeData:function(){
			var that=this;
			$.ajax({
	          	url: '/users/tree?timestamp='+new Date().getTime(),
	          	type: 'GET',
	          	dataType : 'json', 
	          	contentType: 'application/json; charset=utf-8',
	          	success: function (res) {
	        	  	if(res.rspCode=="000000"){
	        	  		vm.treeData=res.data.treeData;
	        	  		createDepartmentRadarEcharts('initializationState',res.data.treeData,res.data.numData);
	        	  	}else{
	        	  		that.$notify.error({
	  		        	  	title: '组织机构树',
	  		        	  	message: res.rspMsg,
	  		        	  	position: 'bottom-right'
  		        		});
	        	  	}
	          	}
	    	});
		},
		//树过滤事件
		filterNode(value, data) {
	        if (!value) return true;
	        return data.label.indexOf(value) !== -1;
	    },
	    //单击树节点事件
	    clickNode:function(node){
	    	vm.tableHeight=getWinHeight()-112;
	    	vm.activeNode=node;
	    	this.pagesize = 10;
	    	this.currentPage = 1;
	    	if(vm.initializationState){
	    		vm.queryUserList();
	    	}else{
	    		vm.resetForm();
	    	}
	    	vm.initializationState=false;
	    },
	 	// 初始页currentPage、初始每页数据数pagesize和数据data
        handleSizeChange: function (size) {
        	this.pagesize = size;
        	vm.queryUserList();
        },
        //改变当前页
        handleCurrentChange: function(currentPage){
        	this.currentPage = currentPage;
        	vm.queryUserList();
        },
        query:function(){
        	this.$refs['queryForm'].validate((valid) => {
	          	if (valid) {
	          		vm.queryUserList();
	          	}
	        });
        },
        //分页查询数据
        queryUserList() {
            var that=this;
			$.ajax({
	          	url: '/users/users?timestamp='+new Date().getTime(),
	          	type: 'GET',
	          	dataType : 'json', 
	          	data:{
	          		'currentPage':vm.currentPage,//当前页
	          		'pagesize':vm.pagesize,//当前页个数
	          		'departmentId':vm.activeNode.id,//当前点击节点
	          		'name':vm.queryForm.name,
	          		'account':vm.queryForm.account,
	          		'email':vm.queryForm.email
	          	},
	          	contentType: 'application/json; charset=utf-8',
	          	success: function (res) {
	        	  	if(res.rspCode=="000000"){
	        	  		vm.userList=res.data.content;
	        	  		vm.totalSize=res.data.totalElements;
	        	  	}else{
	        	  		that.$notify.error({
	  		        	  	title: '查询组织',
	  		        	  	message: res.rspMsg,
	  		        	  	position: 'bottom-right'
  		        		});
	        	  	}
	          	}
	    	});
        },
        //判断按钮组禁用情况
        changeFun(val){
        	this.multipleSelection = val; // 返回的是选中的列的数组集合
        	if(this.multipleSelection.length==1){
        		//只选了一个的时候编辑和删除可用
        		this.handelDel=false;
        		this.handelEdit=false;
        	}else if(this.multipleSelection.length>1){
        		//多选时编辑按钮不可用
        		this.handelDel=false;
        		this.handelEdit=true;
        	}else{
        		this.handelDel=true;
        		this.handelEdit=true;
        	}
        },
      	//重置查询form
		resetForm:function(){
			this.$refs['queryForm'].resetFields();
			vm.queryUserList();
		},
		add(){
			this.userVisible=true;
			this.dialogTitle='新增用户';
			this.method=0;
			vm.userForm.name='';
			vm.userForm.account='';
			vm.userForm.email='';
			vm.userForm.birthDay='';
			vm.userForm.age='';
			vm.userForm.telphone='';
			vm.userForm.address='';
			vm.userForm.gender='0';
		},
		edit(){
			this.userVisible=true;
			this.dialogTitle='编辑用户';
			this.method=1;
			vm.userForm.name=(vm.multipleSelection)[0].name;
			vm.userForm.account=(vm.multipleSelection)[0].account;
			vm.userForm.email=(vm.multipleSelection)[0].email;
			vm.userForm.birthDay=(vm.multipleSelection)[0].birthDay;
			vm.userForm.age=(vm.multipleSelection)[0].age;
			vm.userForm.telphone=(vm.multipleSelection)[0].telphone;
			vm.userForm.address=(vm.multipleSelection)[0].address;
			vm.userForm.gender=(vm.multipleSelection)[0].gender+'';
		},
		del(){
			this.$confirm('此操作将永久删除用户, 是否继续?', '提示', {
		    	confirmButtonText: '确定',
		        cancelButtonText: '取消',
		        type: 'warning'
			}).then(() => {
				this.isDeling=true;
				var that=this;
				var arr=[];
				for (var i = 0; i < this.multipleSelection.length; i++) {
					arr.push((this.multipleSelection)[i].id);
				}
				var json=JSON.stringify(arr);
				$.ajax({
		          	url: '/users/users?timestamp='+new Date().getTime(),
		          	type: 'DELETE',
		          	data:json,
		          	dataType : 'json', 
		          	contentType: 'application/json; charset=utf-8',
		          	success: function (res) {
		          		vm.isDeling=false;
		          		//列表刷新
		          		vm.queryUserList();
		        	  	if(res.rspCode=="000000"){
	 		        	  	that.$notify.success({
		  		        	  	title: '删除用户',
		  		        	  	message: '操作成功',
		  		        	  	position: 'bottom-right'
		  		        	});
		        	  	}else{
		        	  		that.$notify.error({
		  		        	  	title: '删除用户',
		  		        	  	message: res.rspMsg,
		  		        	  	position: 'bottom-right'
		  		        	});
		        	  	} 
		          	}
		    	});
		    }).catch(() => {
		    	this.$message({
		        	type: 'info',
		            message: '已取消删除'
		        });          
		    });
		},
		//改变生日，造成年龄变化
		changeBirthday:function(selVal){
			var now = new Date();//获取系统当前时间
			var selDate= new Date(Date.parse(selVal.replace(/-/g, "/")));//选中时间
			vm.userForm.age=getDateYearSub(selDate,now);//计算年龄
		},
		//表单提交
		submit(){
			this.$refs['userForm'].validate((valid) => {
	          	if (valid) {
	          		this.isSubmiting=true;
	          		var data=vm.userForm;
	          		data.departmentId=vm.activeNode.id;
	          		data.password="abcd";
	          		if(vm.method==1){
	          			data.id=(vm.multipleSelection)[0].id;
	          		}
			    	var json=JSON.stringify(data);
			    	if(vm.method==0){
						//新增
			    		vm.addSub(this,json);
					}else if(vm.method==1){
						//编辑
						vm.updateSub(this,json);
					}
	          	}
	        });
		},
		//新增提交
		addSub(that,json){
			$.ajax({
	          	url: '/users/users?timestamp='+new Date().getTime(),
	          	type: 'POST',
	          	data:json,
	          	dataType : 'json', 
	          	contentType: 'application/json; charset=utf-8',
	          	success: function (res) {
	          		vm.isSubmiting=false;
	        	  	if(res.rspCode=="000000"){
	        	  		//列表刷新
		          		vm.queryUserList();
	        	  		vm.close('userForm');
 		        	  	that.$notify.success({
	  		        	  	title: '新增用户',
	  		        	  	message: '操作成功',
	  		        	  	position: 'bottom-right'
	  		        	});
	        	  	}else{
	        	  		that.$notify.error({
  		        	  	title: '新增用户',
  		        	  	message: res.rspMsg,
  		        	  	position: 'bottom-right'
  		        	});
	        	  	} 
	          	}
	    	});
		},
		//编辑提交
		updateSub(that,json){
			$.ajax({
	          	url: '/users/users?timestamp='+new Date().getTime(),
	          	type: 'PUT',
	          	data:json,
	          	dataType : 'json', 
	          	contentType: 'application/json; charset=utf-8',
	          	success: function (res) {
	          		vm.isSubmiting=false;
	        	  	if(res.rspCode=="000000"){
	        	  		//列表刷新
		          		vm.queryUserList();
	        	  		vm.close('userForm');
 		        	  	that.$notify.success({
	  		        	  	title: '编辑用户',
	  		        	  	message: '操作成功',
	  		        	  	position: 'bottom-right'
	  		        	});
	        	  	}else{
	        	  		that.$notify.error({
  		        	  	title: '编辑用户',
  		        	  	message: res.rspMsg,
  		        	  	position: 'bottom-right'
  		        	});
	        	  	} 
	          	}
	    	});
		},
		//重置密码
		resetPwd(index, row){
			var that=this;
			$.ajax({
	          	url: '/users/reset?timestamp='+new Date().getTime(),
	          	type: 'GET',
	          	data:{
	          		'id':row.id
	          	},
	          	dataType : 'json', 
	          	contentType: 'application/json; charset=utf-8',
	          	success: function (res) {
	        	  	if(res.rspCode=="000000"){
 		        	  	that.$notify.success({
	  		        	  	title: '重置密码',
	  		        	  	message: '操作成功',
	  		        	  	position: 'bottom-right'
	  		        	});
	        	  	}else{
	        	  		that.$notify.error({
	  		        	  	title: '重置密码',
	  		        	  	message: res.rspMsg,
	  		        	  	position: 'bottom-right'
	  		        	});
	        	  	} 
	          	}
	    	});
		},
		userHandleClose(done){
			this.$confirm('确认关闭？').then(_ => {
	            done();
	            this.$refs['userForm'].resetFields();
	        }).catch(_ => {});
		},
		//取消关闭部门新增/修改对话框
	    close:function(formName){
	    	this.$refs[formName].resetFields();
	    	vm.userVisible = false;
	    },
	}
})
/* 页面加载时触发事件 */
window.onload=function(){ 
	vm.init();
}
/*]]>*/
</script>
<!-- 引入页面js-->
<script th:src="@{/js/user/index.js}"></script> 