<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<head th:include="common/header :: head"></head>
<body>
	<div id="protal">
		<el-container>
			<!-- 页头 -->
		  	<el-header>
		  		<el-row>
				  	<el-col :span="12">
				  		<el-row type="flex" class="row-bg" justify="end">
						  	<el-col :span="24">平头哥图标</el-col>
						</el-row>
				  	</el-col>
				  	<el-col :span="12">
				  		<el-row type="flex" class="row-bg" justify="end">
				  			<el-col :span="16">用户</el-col>
				  			<el-col :span="4">
						  		<el-dropdown size="mini" split-button type="primary" @command="userInformationCommand">待办事项
								  	<el-dropdown-menu slot="dropdown">
								    	<el-dropdown-item class="clearfix"> 评论
								      		<el-badge class="mark" :value="200" :max="99"/>
								    	</el-dropdown-item>
								  	</el-dropdown-menu>
								</el-dropdown>
				  			</el-col>
						  	<el-col :span="4">
						  		<el-dropdown size="mini" split-button type="primary" @command="userInformationCommand">操作
								  	<el-dropdown-menu slot="dropdown">
								    	<el-dropdown-item command="0">个人信息</el-dropdown-item>
								    	<el-dropdown-item command="1">注销</el-dropdown-item>
								  	</el-dropdown-menu>
								</el-dropdown>
						  	</el-col>
						</el-row>
				  	</el-col>
				</el-row>
		  	</el-header>
		  	<el-container>
		  		<!-- 左侧菜单项 -->
		    	<el-aside id="aside" width="200px;">
		    		<el-switch v-model="isCollapse" 
		    			on-value="true" off-value="false"
					    active-color="#B7B9BC" inactive-color="#409EFF">
					</el-switch>
		    		<el-row class="tac">
						<el-menu :collapse="isCollapse">
					      	<el-submenu :index="resource.id" v-for="resource in resourcesList">
					        	<template slot="title">
					          		<i class="el-icon-location"></i>
					          		<span>{{resource.name}}</span>
					        	</template>
					          	<el-menu-item @click="ifram(childResource.url)" :index="childResource.id" v-for="childResource in resource.child">{{childResource.name}}</el-menu-item>
					      	</el-submenu>
					    </el-menu>
		    		</el-row>
		    	</el-aside>
		    	<!-- 页面正中，切换页面区域 -->
		    	<el-container>
		      		<el-main id='main'>
		      			<el-breadcrumb separator-class="el-icon-arrow-right">
						  	<el-breadcrumb-item>首页</el-breadcrumb-item>
						  	<el-breadcrumb-item>活动管理</el-breadcrumb-item>
						  	<el-breadcrumb-item>活动列表</el-breadcrumb-item>
						  	<el-breadcrumb-item>活动详情</el-breadcrumb-item>
						</el-breadcrumb>
		      			<iframe id="mainFrame" scrolling="auto" style="width:100%;height:100%;">   
						</iframe>
		      		</el-main>
		      		<!-- 页脚 -->
		      		<el-footer>
		      			<el-row type="flex" class="row-bg" justify="center">
		      				<div th:include="common/bottom :: div"></div>
		      			</el-row>
		      		</el-footer>
		    	</el-container>
		  	</el-container>
		</el-container>
		
		
		<!-- 个人信息弹出框 -->
		<el-dialog title="个人信息" :visible.sync="userInformationVisible" width="30%" :before-close="userInformationHandleClose">
		  	<el-tabs type="border-card" @tab-click="handleTabsClick" v-model="activeName">
		  		<!-- 展示个人信息tab -->
			  	<el-tab-pane name="information">
			    	<span slot="label"><i class="el-icon-document"></i>信息</span>
			    	<el-card class="box-card">
					  	<div class="text item">
					    	昵称：{{userInformationForm.name}}
					  	</div>
					  	<div class="text item">
					    	账号：{{userInformationForm.account}}
					  	</div>
					  	<div class="text item">
					    	邮箱：{{userInformationForm.email}}
					  	</div>
					  	<div class="text item">
					    	生日：{{userInformationForm.birthDay}}
					  	</div>
					  	<div class="text item">
					    	年龄：{{userInformationForm.age}}
					  	</div>
					  	<div class="text item" v-if="userInformationForm.gender==0">
					    	性别：男
					  	</div>
					  	<div class="text item" v-if="userInformationForm.gender==1">
					    	性别：女
					  	</div>
					  	<div class="text item">
					    	电话：{{userInformationForm.telphone}}
					  	</div>
					  	<div class="text item">
					    	地址：{{userInformationForm.address}}
					  	</div>
					</el-card>
			  	</el-tab-pane>
			  	<!-- 修改个人信息tab -->
			  	<el-tab-pane name="edit">
			    	<span slot="label"><i class="el-icon-edit"></i>编辑</span>
			    	<el-form label-width="80px" :label-position="labelPosition" ref="userInformationForm" :rules="userInformationRules" :model="userInformationForm">
					  	<el-form-item label="昵称：" prop="name">
					    	<el-input v-model="userInformationForm.name"
					    	clearable prefix-icon="el-icon-ratel-nicheng"></el-input>
					  	</el-form-item>
					  	<el-form-item label="账号：" prop="account">
					    	<el-input v-model="userInformationForm.account"
					    	 clearable disabled prefix-icon="el-icon-ratel-people"></el-input>
					  	</el-form-item>
					  	<el-form-item label="邮箱：" prop="email">
					    	<el-input v-model="userInformationForm.email"
					    	 clearable prefix-icon="el-icon-message"></el-input>
					  	</el-form-item>
					  	<el-form-item label="生日：" prop="birthDay">
					    	<el-date-picker @change='changeBirthday' format="yyyy 年 MM 月 dd 日" value-format="yyyy-MM-dd" 
					    	v-model="userInformationForm.birthDay" type="date" placeholder="选择日期">
					    	</el-date-picker>
					  	</el-form-item>
					  	<el-form-item label="年龄：" prop="age">
					    	<el-input disabled v-model="userInformationForm.age"
					    	 clearable prefix-icon="el-icon-ratel-nianling"></el-input>
					  	</el-form-item>
					  	<el-form-item label="性别：" prop="gender">
					  		<el-radio v-model="userInformationForm.gender" label="0" border>男</el-radio>
    						<el-radio v-model="userInformationForm.gender" label="1" border>女</el-radio>
					  	</el-form-item>
					  	<el-form-item label="电话：" prop="telphone">
					    	<el-input v-model="userInformationForm.telphone"
					    	 clearable prefix-icon="el-icon-mobile-phone"></el-input>
					  	</el-form-item>
					  	<el-form-item label="地址：" prop="address">
					    	<el-input type="textarea" v-model="userInformationForm.address"
					    	 clearable prefix-icon="el-icon-location-outline"></el-input>
					  	</el-form-item>
					  	<el-form-item>
					  		<el-button size="small" @click="personalInformation">重置</el-button>
				    		<el-button size="small" type="primary" @click="reseInformation">确 定</el-button>
					  	</el-form-item>
					</el-form>
			  	</el-tab-pane>
			  	<!-- 密码修改区 -->
			  	<el-tab-pane name="editPwd">
			    	<span slot="label"><i class="el-icon-ratel-unlock"></i>密码</span>
			    	<el-form :model="resetPwdForm" status-icon :rules="resetPwdRules" ref="resetPwdForm" :label-position="labelPosition" label-width="100px">
					  	<el-form-item label="原密码：" prop="pwd">
					    	<el-input type="password" v-model="resetPwdForm.pwd" autocomplete="off"></el-input>
					  	</el-form-item>
					  	<el-form-item label="新密码：" prop="pass">
					  	 	<el-input type="password" v-model="resetPwdForm.pass" autocomplete="off"></el-input>
					  	</el-form-item>
					  	<el-form-item label="确认密码：" prop="checkPass">
					    	<el-input type="password" v-model="resetPwdForm.checkPass" autocomplete="off"></el-input>
					  	</el-form-item>
					  	<el-form-item>
					  		<el-button size="small" @click="resetForm('resetPwdForm')">重置</el-button>
					    	<el-button type="primary" size="small" @click="resetPwd">提交</el-button>
					  	</el-form-item>
					</el-form>
			  	</el-tab-pane>
			</el-tabs>
		</el-dialog>
	</div> 
</body>
  	<script>
	var vm=new Vue({
		el:'#protal',
		data() { 
			//异步请求，检验密码是否正确
			var validatePwd = (rule, value, callback) => {
	        	if (value === '') {
		          	callback(new Error('请输入密码'));
		        } else {
		        	var data={};
			    	data.password=value;
			    	var json=JSON.stringify(data);
		        	$.ajax({
	  		          	url: '/users/pwd?timestamp='+new Date().getTime(),
	  		          	type: 'POST',
	  		          	data:json,
	  		          	dataType : 'json', 
	  		          	contentType: 'application/json; charset=utf-8',
	  		          	success: function (res) {
	  		          		if(res.rspCode!="000000"){
	  		          			callback(new Error(res.rspMsg));
	  		          		}else{
	  		          			callback();
	  		          		}
	  		          	}
	  		    	});
		        }
		    };
			var validatePass = (rule, value, callback) => {
		        if (value === '') {
		          	callback(new Error('请输入密码'));
		        } else {
		          	if (this.resetPwdForm.checkPass !== '') {
		            	this.$refs.resetPwdForm.validateField('checkPass');
		          	}
		          	callback();
		        }
		    };
		    var validatePass2 = (rule, value, callback) => {
		        if (value === '') {
		          	callback(new Error('请确认密码'));
		        } else if (value !== this.resetPwdForm.pass) {
		          	callback(new Error('两次输入密码不一致!'));
		        } else {
		          	callback();
		        }
		    };
		    //检测邮箱是否唯一
		    var checkEmail= (rule, value, callback) => {
		    	var data={};
		    	data.email=value;
		    	data.account=vm.userInformationForm.account;
		    	var json=JSON.stringify(data);
	        	$.ajax({
  		          	url: '/users/email?timestamp='+new Date().getTime(),
  		          	type: 'POST',
  		          	data:json,
  		          	dataType : 'json', 
  		          	contentType: 'application/json; charset=utf-8',
  		          	success: function (res) {
  		          		if(res.rspCode!="000000"){
  		          			callback(new Error(res.rspMsg));
  		          		}else{
  		          			callback();
  		          		}
  		          	}
  		    	});
		    };
			return {
				labelPosition: 'right',//表单对齐方式
				bottomDialogVisible: false,//底部平头哥联系方式弹出框
				isCollapse: true,//默认收起左侧菜单栏
				activeMenu:'1-2',//当前激活的菜单
				//个人信息tabs
				userInformationVisible:false,//个人信息弹出框
				activeName:'information',//默认tab页
				//个人信息form
				userInformationForm:{},
				userInformationRules:{
					name:[
						{ required: true, message: '请输入昵称', trigger: 'change' },
		            	{ validator: checkEmpty, trigger: 'blur' },
		            	{ validator: checkNoSpecialCharacters, trigger: 'blur' }
					],
		          	email:[
		          		{ required: true, message: '请输入账号', trigger: 'blur' },
		            	{ type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] },
		            	{ validator: checkEmail, trigger: 'blur' }
		          	],
		          	telphone:[
		          		{ validator: checkPhone, trigger: 'blur' }
		          	]
				},
				resetPwdForm:{
					pwd:'',
					pass:'',
					checkPass:''
				},
				resetPwdRules:{
					pwd:[
						{ required: true, message: '请输入原密码', trigger: 'change' },
		            	{ validator: checkEmpty, trigger: 'blur' },
		            	{ validator: validatePwd, trigger: 'blur' }
					],
					pass:[
						{ required: true, message: '请输入新密码', trigger: 'change' },
		            	{ validator: checkEmpty, trigger: 'blur' },
		            	{ validator: validatePass, trigger: 'blur' }
					],
					checkPass:[
						{ required: true, message: '请确认密码', trigger: 'change' },
		            	{ validator: checkEmpty, trigger: 'blur' },
		            	{ validator: validatePass2, trigger: 'blur' }
					],
				},
				resourcesList:[]//用户资源集合
			}
		},
		methods:{
			init:function(){
				vm.userResources();//获取用户的资源，生成左侧菜单栏
				$("#mainFrame").attr("src",'/users/index?timestamp='+new Date().getTime());
			},
			userResources:function(){
				var that=this;
				$.ajax({
  		          	url: '/resources/myResources?timestamp='+new Date().getTime(),
  		          	type: 'GET',
  		          	dataType : 'json', 
  		          	contentType: 'application/json; charset=utf-8',
  		          	success: function (res) {
  		        	  	if(res.rspCode=="000000"){
  		        	  		vm.resourcesList=res.data;
  		        	  	}else{
  		        	  		that.$notify.error({
		  		        	  	title: '获取资源列表',
		  		        	  	message: res.rspMsg,
		  		        	  	position: 'bottom-right'
		  		        	});
  		        	  	}
  		          	}
  		    	});
			},
			//个人信息tabs可见
			userInformationCommand:function(command){
				if(command==0){
					//个人信息tab
					vm.activeName='information';//默认打开信息tab页
					vm.personalInformation();//请求查询用户信息
					vm.userInformationVisible=true;//打开tabs页面
				}else if(command==1){
					//注销
					vm.logout();
				}
			},
			//个人信息tabs关闭事件
			userInformationHandleClose(done){
				vm.resetForm('userInformationForm');//格式化表单
				vm.resetForm('resetPwdForm');//格式化表单
				done();
			},
			//点击不同tab触发事件
			handleTabsClick:function(tab, event) {
				vm.resetForm('userInformationForm');//格式化表单
				vm.resetForm('resetPwdForm');//格式化表单
				//单击跟用户相关的信息需要重新请求
				if(tab.name=='information' || tab.name=='edit'){
					vm.personalInformation();
				}
		    },
		    //查询当前登录用户信息
			personalInformation:function(){
				var that=this;
				$.ajax({
  		          	url: '/users/activeUser?timestamp='+new Date().getTime(),
  		          	type: 'GET',
  		          	dataType : 'json', 
  		          	contentType: 'application/json; charset=utf-8',
  		          	success: function (res) {
  		        	  	if(res.rspCode=="000000"){
  		        	  		vm.userInformationForm=res.data;
  		        	  		//性别需要转换为字符串格式
  		        	  		vm.userInformationForm.gender=res.data.gender+'';
  		        	  	}else{
  		        	  		that.$notify.error({
		  		        	  	title: '查询用户',
		  		        	  	message: res.rspMsg,
		  		        	  	position: 'bottom-right'
		  		        	});
  		        	  	}
  		          	}
  		    	});
			},
			//改变生日，造成年龄变化
			changeBirthday:function(selVal){
				var now = new Date();//获取系统当前时间
				var selDate= new Date(Date.parse(selVal.replace(/-/g, "/")));//选中时间
				vm.userInformationForm.age=getDateYearSub(selDate,now);//计算年龄
			},
			//修改用户信息
			reseInformation:function(){
				var that=this;
		    	this.$refs['userInformationForm'].validate((valid) => {
		          	if (valid) {
		          		var data=vm.userInformationForm;
				    	var json=JSON.stringify(data);
		          		$.ajax({
		  		          	url: '/users/information?timestamp='+new Date().getTime(),
		  		          	type: 'POST',
		  		          	data:json,
		  		          	dataType : 'json', 
		  		          	contentType: 'application/json; charset=utf-8',
		  		          	success: function (res) {
		  		        	  	if(res.rspCode=="000000"){
			  		        	  	that.$notify.success({
				  		        	  	title: '编辑信息',
				  		        	  	message: '操作成功',
				  		        	  	position: 'bottom-right'
				  		        	});
		  		        	  	}else{
		  		        	  		that.$notify.error({
				  		        	  	title: '编辑信息',
				  		        	  	message: res.rspMsg,
				  		        	  	position: 'bottom-right'
				  		        	});
		  		        	  	} 
		  		          	}
		  		    	});
		          	}
		        }); 
			},
			//用户个人修改密码
			resetPwd:function(){
		    	var that=this;
		    	this.$refs['resetPwdForm'].validate((valid) => {
		          	if (valid) {
		          		var data={};
				    	data.password=vm.resetPwdForm.pass;
				    	var json=JSON.stringify(data);
		          		$.ajax({
		  		          	url: '/users/resetSelf?timestamp='+new Date().getTime(),
		  		          	type: 'POST',
		  		          	data:json,
		  		          	dataType : 'json', 
		  		          	contentType: 'application/json; charset=utf-8',
		  		          	success: function (res) {
		  		        	  	if(res.rspCode=="000000"){
		  		        	  		that.$refs['resetPwdForm'].resetFields();
			  		        	  	that.$notify.success({
				  		        	  	title: '重置密码',
				  		        	  	message: '操作成功',
				  		        	  	position: 'bottom-right'
				  		        	});
		  		        	  	}else{
		  		        	  		that.$notify.error({
				  		        	  	title: '重置密码',
				  		        	  	message: res.rspMsg,
				  		        	  	position: 'bottom-right'
				  		        	});
		  		        	  	} 
		  		          	}
		  		    	});
		          	}
		        });
			},
			resetForm:function(formName){
				this.$refs[formName].resetFields();
			},
			//注销码方法
			logout:function(){
				
			},
			//点击菜单，更换ifram内容
			ifram:function(url){
				$("#mainFrame").empty();//先清空
				$("#mainFrame").attr("src",url+'?timestamp='+new Date().getTime());
			},
			//底部平头哥弹出框关闭事件
			bottomHandleClose(done) {
				done();
		    }
		}
	})
  	</script>
  	<!-- 引入页面js-->
	<script th:src="@{/js/protal.js}"></script> 
</html>