<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<head th:include="common/header :: head">
</head>
<body>
	<div id="protal">
		<el-container>
		  	<el-header>Header</el-header>
		  	<el-main>Main</el-main>
		  	<el-footer>Footer</el-footer>
		</el-container>
	</div> 
	<div th:include="common/bottom :: div"></div>
</body>
  <script>
  		/* 页面加载时触发事件 */
		window.onload=function(){ 
      		vm.init();
  		}
		var vm=new Vue({
			el:'#protal',
			data() {
				return {
					
				}
			},
			methods:{
				init:function(){
					
				}
			}
		})
  </script>
</html>